<app-nav-bar></app-nav-bar>
<app-user-profile></app-user-profile>

<input #search (keyup)="handleQuery(search.value)" (blur)="handleQuery(search.value)" />

<button (submit)="onSubmit(search.value)">Submit</button>
<br />
<br />

<button (click)=" fetchPlantInfo()">View All Plants</button>
<br />
<br />
Search results appear below:
<div class="card" *ngIf="plantInfo">
  <ol *ngFor="let item of plantInfo.data">
    <ul>ID: {{ item.id }}</ul>
    <ul>Name: {{ item.common_name}}</ul>
    <ul>Image: <br /> <img src="{{ item.image_url }}"></ul>
  </ol>
  <!-- <button (click)="nextPlant()">next plant</button> -->
  <!-- <button (click)="fetchPlantGrowth()">click for growth info</button>
  <div>
    <ol>
      <ul *ngIf="id">ID: {{ id }}</ul>
      <ul *ngIf="scientific_name">Scientific Name: {{ scientific_name }}</ul>
      <ul *ngIf="minimum_precipitation">Minimum Precipitation: {{ minimum_precipitation }}</ul>
      <ul *ngIf="maximum_precipitation">Maximum Precipitation: {{ maximum_precipitation }}</ul>
    </ol>
  </div> -->

</div>