<app-nav-bar></app-nav-bar>
<app-user-profile></app-user-profile>
<div class="background">
  <mat-form-field >
    <input matInput placeholder="search a plant" #search (keyup)="handleQuery(search.value)" />
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="handleQuery(search.value)" (click)="search.value = ''">search</button>
</div>
<br />
<br />
<!-- pass props to card, how do??? -->
Search results appear below:
<!-- <div *ngIf="queryPlants">
  <ol class="card" *ngFor="let item of queryPlants.data">
    <ul>ID: {{ item.id }}</ul>
    <ul>Name: {{ item.common_name}}</ul>
    <ul>Scientific Name: {{ item.scientific_name}}</ul>
    <ul>Image: <br /> <img src="{{ item.image_url }}"></ul>
  </ol>
</div> -->
<br />
<br />
<div class="background">
  <button mat-raised-button color="accent" (click)="fetchPlantInfo()">view all plants</button>
</div>
<br />
<br />
All plants are listed below:
<app-plant-card [plantInfo]="plantInfo" [plantGrowth]="plantGrowth"></app-plant-card>

  <div class="background" >
    <button mat-raised-button color="accent" (click)="prevPage()">previous page</button>
    page:{{page}}
    <button mat-raised-button color="accent" (click)="nextPage()">next page</button>
  </div>
<!-- </div> -->