<app-nav-bar></app-nav-bar>
<app-user-profile></app-user-profile>
{{page}}

<input #search (keyup)="handleQuery(search.value)" />

<button (click)="handleQuery(search.value)" (click)="search.value = ''">Submit</button>
<br />
<br />
<button (click)="prevPage()">previous page</button>
<button (click)="nextPage()">next page</button>
Search results appear below:
<div class="card" *ngIf="queryPlants">
  <ol *ngFor="let item of queryPlants.data">
    <ul>ID: {{ item.id }}</ul>
    <ul>Name: {{ item.common_name}}</ul>
    <ul>Scientific Name: {{ item.scientific_name}}</ul>
    <ul>Image: <br /> <img src="{{ item.image_url }}"></ul>
  </ol>
</div>
<br />
<br />
<button (click)=" fetchPlantInfo()">View All Plants</button>
<br />
<br />
All plants are listed below:
<div class="card" *ngIf="plantInfo">
  <ol *ngFor="let item of plantInfo.data">
    <ul>ID: {{ item.id }}</ul>
    <ul>Name: {{ item.common_name}}</ul>
    <ul>Image: <br /> <img src="{{ item.image_url }}"></ul>

    <hr/>

    
    <button (click)="fetchPlantGrowth(item.id)">click for growth info</button>
    <div *ngIf="clicked">
      <ol *ngIf="plantGrowth">
        <!-- {{plantGrowth | json}} -->
        <ul>ID: {{ plantGrowth.data.main_species.id }}</ul>
        <ul >Scientific Name: {{ plantGrowth.data.main_species.scientific_name }}</ul> 
        <ul >Minimum Precipitation: {{ plantGrowth.data.main_species.growth.minimum_precipitation.mm }}</ul>
        <ul >Maximum Precipitation: {{ plantGrowth.data.main_species.growth.maximum_precipitation.mm}}</ul> 
      </ol>
    </div> 
  </ol>
  <hr/>
</div>